.nested-fields
  .panel.panel-info
    .panel-heading
      %h3.panel-title
        ハザード評価 Hazard Evaluation
    .panel-body
      .form-inputs
        = f.input :priority
        = f.input :problem
        = f.input :has_observe, wrapper: :horizontal_radio_and_checkboxes
        = f.input :weak_layer
        = f.input :potential_size
        = f.input :triggering
        = f.input :sensitivity
        = f.input :spatial
        = f.input :terrain
        = f.input :memo
      = link_to_remove_association "このハザード評価の削除", f, class: 'btn btn-danger'