= simple_form_for(@observation, wrapper: :horizontal_form, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :observation_at, wrapper: :horizontal_select_date, as: :date
    = f.association :area
    = f.input :mountain
    = f.input :location
    = f.input :elevation_low
    = f.input :elevation_low_comments
    = f.input :elevation_high
    = f.input :elevation_high_comments
    = f.input :temperature
    = f.input :sky
    = f.input :sky_comments
    = f.input :wind_speed
    = f.input :wind_direction
    = f.input :wind_comments
    = f.input :precipitation_type
    = f.input :precipitation_rate
    = f.input :precipitation_comments
    = f.input :avalanches
    = f.input :avalanche_occurred, wrapper: :horizontal_radio_and_checkboxes
    = f.input :snowpack
    = f.input :spin_url
    = f.input :comments

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
