%table.table.table-striped
  %thead
    %tr
      %th
      %th= t('activerecord.attributes.observation.publish')
      %th= t('activerecord.attributes.observation.observation_at')
      %th= t('activerecord.attributes.observation.area')
      %th= t('activerecord.attributes.observation.mountain')
      %th= t('activerecord.attributes.observation.location')
      %th= t('activerecord.attributes.observation.user')
      %th= t('activerecord.attributes.observation.created_at')
      %th
      %th
      %th

  %tbody
    - @observations.each do |observation|
      %tr
        %td= observation.id
        %td= observation.publish
        %td= link_to observation.observation_at.strftime("%y%m%d"), observation
        %td= observation.area.name
        %td= observation.mountain
        %td= observation.location
        %td= observation.user.name
        %td= observation.created_at.strftime("%y%m%d")
        %td= link_to_if(policy(observation).update?, t('link.Edit'), edit_observation_path(observation), class: 'btn btn-xs btn-info'){}
        %td= link_to_if(policy(observation).destroy?, t('link.Destroy'), observation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'){}

- if policy(@observations).new?
  = link_to t('link.New'), new_observation_path, class: 'btn btn-default'
