%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.observation.observation_at')
      %th= t('activerecord.attributes.observation.area')
      %th= t('activerecord.attributes.observation.mountain')
      %th= t('activerecord.attributes.observation.location')
      %th= t('activerecord.attributes.observation.user')
      %th= t('activerecord.attributes.observation.created_at')
      %th
      %th
      %th

  %tbody
    - @observations.each do |observation|
      %tr
        %td= observation.observation_at.strftime("%y%m%d")
        %td= observation.area.name
        %td= observation.mountain
        %td= observation.location
        %td= observation.user.name
        %td= observation.created_at.strftime("%y%m%d")
        %td= link_to 'Show', observation
        %td= link_to 'Edit', edit_observation_path(observation)
        %td= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Observation', new_observation_path, class: 'btn btn-default'
