- if policy(@observations).new?
  = link_to fa_icon('plus-circle', text: t('link.New')), new_observation_path, class: 'btn btn-default'
%table.table.table-striped
  %thead
    %tr
      - unless policy(Observation).public_user?
        %th= t('activerecord.attributes.observation.publish')
      %th= t('activerecord.attributes.observation.observation_at')
      %th= t('activerecord.attributes.observation.area')
      %th= t('activerecord.attributes.observation.mountain')
      %th= t('activerecord.attributes.observation.location')
      %th= t('activerecord.attributes.observation.user')
      %th{:style => "width:48px;"}
      %th{:style => "width:48px;"}
      %th{:style => "width:48px;"}
      %th= t('activerecord.attributes.observation.created_at')
      %th
      %th
      %th

  %tbody
    - @observations.each do |observation|
      %tr
        - unless policy(observation).public_user?
          %td= to_publish_value(observation.publish)
        %td= link_to observation.observation_at.strftime("%y%m%d"), observation
        %td= observation.area.name
        %td= observation.mountain
        %td= observation.location
        %td= observation.user.name
        %td= image_tag 'bbs_photo.png', width: '24' if observation.images.present?
        %td= image_tag 'bbs_spin.png', width: '24' if observation.spin_nos.present?
        %td= image_tag 'bbs_avalanche.png', width: '24' if observation.avalanche_occurred
        %td= observation.created_at.strftime("%y%m%d")
        %td= link_to_if(policy(observation).update?, t('link.Edit'), edit_observation_path(observation), class: 'btn btn-xs btn-info'){}
        %td= link_to_if(policy(observation).destroy?, t('link.Destroy'), observation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'){}
