.row
  .col-sm-3.hidden-xs
    %ul
      - Area.public_area.sort_order.each do |area|
        %li
          = link_to "#{area.name}(#{policy_scope(area.observations).size})", observations_path(q: {area_id_eq: area.id})
  .col-sm-9
    %table.table.table-striped
      %thead
        %tr
          - unless policy(Observation).public_user?
            %th= t('activerecord.attributes.observation.publish')
          %th 観測日・エリア
          %th 山岳・場所
          %th.hidden-xs
            投稿者
          %th.hidden-xs{:style => "width:48px;"}
          %th.hidden-xs{:style => "width:48px;"}
          %th.hidden-xs{:style => "width:48px;"}
          %th.hidden-xs
            投稿日

      %tbody
        - @observations.each do |observation|
          %tr
            - unless policy(observation).public_user?
              %td= to_publish_value(observation.publish)
            %td= link_to "#{observation.observation_at.strftime("%y%m%d")} #{observation.area.name}", observation, target: '_top'
            %td= "#{observation.mountain} #{observation.location}"
            %td.hidden-xs
              = observation.user.name
            %td.hidden-xs
              = image_tag 'bbs_photo.png', width: '24' if observation.images.present?
            %td.hidden-xs
              = image_tag 'bbs_spin.png', width: '24' if observation.spin_nos.present?
            %td.hidden-xs
              = image_tag 'bbs_avalanche.png', width: '24' if observation.avalanche_occurred
            %td.hidden-xs
              = observation.created_at.strftime("%y%m%d")
