- if policy(@observations).new?
  = link_to fa_icon('plus-circle', text: t('link.New')), new_observation_path, class: 'btn btn-default'

= search_form_for(@search, html: {class: 'form-inline'}) do |f|
  = f.label :user
  = f.text_field :user_name_cont, size: '12'

  = f.label :area
  = f.select :area_id_eq, options_from_collection_for_select(Area.all, "id", "name", @search.area_id_eq), :include_blank => true

  = f.label :observation_at
  = f.date_select :observation_at_gteq, {include_blank: true, start_year: 2015}
  〜
  = f.date_select :observation_at_lteq_end_of_day, {include_blank: true, start_year: 2015}
  = f.submit '検索', class: 'btn btn-info btn-sm'

%table.table.table-striped
  %thead
    %tr
      - unless policy(Observation).public_user?
        %th= t('activerecord.attributes.observation.publish')
      %th= t('activerecord.attributes.observation.observation_at')
      %th= t('activerecord.attributes.observation.area')
      %th= t('activerecord.attributes.observation.mountain')
      %th= t('activerecord.attributes.observation.location')
      %th= t('activerecord.attributes.observation.user')
      %th{:style => "width:48px;"}
      %th{:style => "width:48px;"}
      %th{:style => "width:48px;"}
      %th= t('activerecord.attributes.observation.created_at')
      %th
      %th
      %th

  %tbody
    - @observations.each do |observation|
      %tr
        - unless policy(observation).public_user?
          %td= to_publish_value(observation.publish)
        %td= link_to observation.observation_at.strftime("%y%m%d"), observation
        %td= observation.area.name
        %td= observation.mountain
        %td= observation.location
        %td= observation.user.name
        %td= image_tag 'bbs_photo.png', width: '24' if observation.images.present?
        %td= image_tag 'bbs_spin.png', width: '24' if observation.spin_nos.present?
        %td= image_tag 'bbs_avalanche.png', width: '24' if observation.avalanche_occurred
        %td= observation.created_at.strftime("%y%m%d")
        %td= link_to_if(policy(observation).update?, t('link.Edit'), edit_observation_path(observation), class: 'btn btn-xs btn-info'){}
        %td= link_to_if(policy(observation).destroy?, t('link.Destroy'), observation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'){}
