.margin-top-10
.panel.panel-info
  .panel-heading
    .panel-title
      - observation_date = @observation.observation_at.strftime("%y%m%d")
      = "#{observation_date} #{@observation.mountain}"
.panel.panel-info
  .panel-heading
    %h3.panel-title
      日付と場所 Date & Location
  .panel-body
    .row
      - @observation.images.each do |image|
        .col-sm-4.observation-image
          = image_tag image, width: '240'

    %table.table.table-bordered.table-striped
      %tr
        %td
          = t('activerecord.attributes.observation.user')
        %td
          = @observation.user.name
      %tr
        %td
          = t('activerecord.attributes.observation.observation_at')
        %td
          = observation_date
      %tr
        %td
          = t('activerecord.attributes.observation.created_at')
        %td
          = @observation.created_at.strftime("%y%m%d %H:%M")
      %tr
        %td
          = t('activerecord.attributes.observation.area')
        %td
          = @observation.area.name
      %tr
        %td
          = t('activerecord.attributes.observation.mountain')
        %td
          = @observation.mountain
      %tr
        %td
          = t('activerecord.attributes.observation.location')
        %td
          = @observation.location
      %tr
        %td
          = t('activerecord.attributes.observation.co_worker')
        %td
          = @observation.co_worker
= render 'observation_detail', observation: @observation
- unless policy(@observation).public_user?
  = render 'evaluation', observation: @observation
.panel.panel-info
  .panel-heading
    %h3.panel-title
      総括 Summary
  .panel-body
    %table.table.table-bordered.table-striped
      %tr
        %td.td-nowrap
          = t('activerecord.attributes.observation.general_comments')
        %td
          = @observation.general_comments
= link_to 'Edit', edit_observation_path(@observation)
\|
= link_to 'Back', observations_path
