.panel.panel-info
  .panel-heading
    %h3.panel-title
      日付と場所 Date & Location
  .panel-body
    .observation-image
      - @observation.images.each do |image|
        = image_tag image, width: '240'

    %table.table.table-bordered.table-striped
      %tr
        %td
          = t('activerecord.attributes.observation.user')
        %td
          = @observation.user.name
      %tr
        %td
          = t('activerecord.attributes.observation.observation_at')
        %td
          = @observation.observation_at.strftime("%y%m%d")
      %tr
        %td
          = t('activerecord.attributes.observation.created_at')
        %td
          = @observation.created_at.strftime("%y%m%d %H:%M")
      %tr
        %td
          = t('activerecord.attributes.observation.area')
        %td
          = @observation.area.name
      %tr
        %td
          = t('activerecord.attributes.observation.mountain')
        %td
          = @observation.mountain
      %tr
        %td
          = t('activerecord.attributes.observation.location')
        %td
          = @observation.location
= render 'observation_detail', observation: @observation
= render 'evaluation', observation: @observation

= link_to 'Edit', edit_observation_path(@observation)
\|
= link_to 'Back', observations_path
