.panel.panel-info
  .panel-heading
    %h3.panel-title
      雪崩危険度 Danger Rating
  .panel-body
    .form-inputs
      = f.input :alpine_zone
      = f.input :alpine_comments
      = f.input :alpine_confidence
      %hr
      = f.input :treeline_zone
      = f.input :treeline_comments
      = f.input :treeline_confidence
      %hr
      = f.input :below_treeline_zone
      = f.input :below_treeline_comments
      = f.input :below_treeline_confidence
