- case problem.size
  - when '1'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_off.png'
    = image_tag 'info4_size_25_off.png'
    = image_tag 'info4_size_20_off.png'
    = image_tag 'info4_size_15_off.png'
    = image_tag 'info4_size_10_on.png'
  - when '1.5'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_off.png'
    = image_tag 'info4_size_25_off.png'
    = image_tag 'info4_size_20_off.png'
    = image_tag 'info4_size_15_on.png'
    = image_tag 'info4_size_10_on.png'
  - when '1-2'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_off.png'
    = image_tag 'info4_size_25_off.png'
    = image_tag 'info4_size_20_on.png'
    = image_tag 'info4_size_15_on.png'
    = image_tag 'info4_size_10_on.png'
  - when '1-2.5'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_off.png'
    = image_tag 'info4_size_25_on.png'
    = image_tag 'info4_size_20_on.png'
    = image_tag 'info4_size_15_on.png'
    = image_tag 'info4_size_10_on.png'
  - when '1-3'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_on.png'
    = image_tag 'info4_size_25_on.png'
    = image_tag 'info4_size_20_on.png'
    = image_tag 'info4_size_15_on.png'
    = image_tag 'info4_size_10_on.png'
  - when '1.5-2'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_off.png'
    = image_tag 'info4_size_25_off.png'
    = image_tag 'info4_size_20_on.png'
    = image_tag 'info4_size_15_on.png'
    = image_tag 'info4_size_10_off.png'
  - when '1.5-2.5'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_off.png'
    = image_tag 'info4_size_25_on.png'
    = image_tag 'info4_size_20_on.png'
    = image_tag 'info4_size_15_on.png'
    = image_tag 'info4_size_10_off.png'
  - when '1.5-3'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_on.png'
    = image_tag 'info4_size_25_on.png'
    = image_tag 'info4_size_20_on.png'
    = image_tag 'info4_size_15_on.png'
    = image_tag 'info4_size_10_off.png'
  - when '2'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_off.png'
    = image_tag 'info4_size_25_off.png'
    = image_tag 'info4_size_20_on.png'
    = image_tag 'info4_size_15_off.png'
    = image_tag 'info4_size_10_off.png'
  - when '2-3'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_on.png'
    = image_tag 'info4_size_25_on.png'
    = image_tag 'info4_size_20_on.png'
    = image_tag 'info4_size_15_off.png'
    = image_tag 'info4_size_10_off.png'
  - when '3'
    = image_tag 'info4_size_40_off.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_on.png'
    = image_tag 'info4_size_25_off.png'
    = image_tag 'info4_size_20_off.png'
    = image_tag 'info4_size_15_off.png'
    = image_tag 'info4_size_10_off.png'
  - when '3-4'
    = image_tag 'info4_size_40_on.png'
    = image_tag 'info4_size_35_on.png'
    = image_tag 'info4_size_30_on.png'
    = image_tag 'info4_size_25_off.png'
    = image_tag 'info4_size_20_off.png'
    = image_tag 'info4_size_15_off.png'
    = image_tag 'info4_size_10_off.png'
  - when '4'
    = image_tag 'info4_size_40_on.png'
    = image_tag 'info4_size_35_off.png'
    = image_tag 'info4_size_30_off.png'
    = image_tag 'info4_size_25_off.png'
    = image_tag 'info4_size_20_off.png'
    = image_tag 'info4_size_15_off.png'
    = image_tag 'info4_size_10_off.png'
