- avalanche_infomation.avalanche_problems.each do |problem|
  .panel.panel-info
    .panel-heading
      %h3.panel-title
        留意すべき雪崩 Avalnche Problem
    .panel-body
      .avalanche-type
        = problem.avalanche_type_text
      .row
        .col-xs-6.avalanche-aspect
          %p 斜面方位 Slope aspect
          .avalanche-aspect-base
            = image_tag 'info2_bg1.png'
            .avalanche-aspect-base-zone
              = image_tag 'info2_bg2.png'
            - problem.zone_details.each do |detail|
              - zone = zone_prefix(detail.zone)
              - ZoneDetail::ASPECTS.each do |aspect|
                - if detail.send("aspect_#{aspect}")
                  .avalanche-aspect-parts
                    - if detail.send("aspect_#{aspect}_power") == "#{aspect}_strong"
                      = image_tag "info2_#{zone}_#{aspect}_a.png"
                    - else
                      = image_tag "info2_#{zone}_#{aspect}_b.png"

        .col-xs-3.avalanche-trigger
          %p 誘発の可能性
          - AvalancheProblem::TRIGGERING.each do |trigger|
            - if problem.triggering == trigger
              = image_tag "info3_graph_#{trigger}_on.png"
            - else
              = image_tag "info3_graph_#{trigger}_off.png"
        .col-xs-3.avalanche-size
          %p サイズ
          = render 'shared/avalanche_infomations/avalanche_problem_size', problem: problem

      .avalanche-comments
        = problem.comments

      %table.table.table-bordered.table-striped
        %tr
          -#%td
          -#  = t('activerecord.attributes.avalanche_problem.avalanche_type')
          -#%td
          -#  = problem.avalanche_type_text
        -#%tr
        -#  %td
        -#    = t('activerecord.attributes.avalanche_problem.triggering')
        -#  %td
        -#    = problem.triggering_text
        -#%tr
        -#  %td
        -#    = t('activerecord.attributes.avalanche_problem.size')
        -#  %td
        -#    = problem.size_text
        %tr
          %td
            = t('activerecord.attributes.avalanche_problem.comments')
          %td
            = problem.comments
