.margin-top-10
.panel.panel-info
  .panel-heading
    .panel-title
      - announced_date = @avalanche_infomation.announced_at.strftime("%y%m%d %H:%M")
      = "#{announced_date} #{@avalanche_infomation.area_name}"
.panel.panel-info
  .panel-heading
    %h3.panel-title
      雪崩危険度と傾向 Danger Rating
  .panel-body
    .pull-left
      = zone_image("alpine", @avalanche_infomation.alpine_zone, @avalanche_infomation.alpine_trend)
      = zone_image("treeline", @avalanche_infomation.treeline_zone, @avalanche_infomation.treeline_trend.to_s)
      = zone_image("below_treeline", @avalanche_infomation.below_treeline_zone, @avalanche_infomation.below_treeline_trend.to_s)
    %table.table.table-bordered.table-striped
      %tr
        %td
          = t('activerecord.attributes.avalanche_infomation.alpine_confidence')
        %td
          = @avalanche_infomation.alpine_confidence_text
      %tr
        %td
          = t('activerecord.attributes.avalanche_infomation.alpine_comments')
        %td
          = @avalanche_infomation.alpine_comments
      %tr
        %td
          = t('activerecord.attributes.avalanche_infomation.treeline_confidence')
        %td
          = @avalanche_infomation.treeline_confidence_text
      %tr
        %td
          = t('activerecord.attributes.avalanche_infomation.treeline_comments')
        %td
          = @avalanche_infomation.treeline_comments
      %tr
        %td
          = t('activerecord.attributes.avalanche_infomation.below_treeline_confidence')
        %td
          = @avalanche_infomation.below_treeline_confidence_text
      %tr
        %td
          = t('activerecord.attributes.avalanche_infomation.below_treeline_comments')
        %td
          = @avalanche_infomation.below_treeline_comments

= render 'shared/avalanche_infomations/avalanche_problem', avalanche_infomation: @avalanche_infomation

.panel.panel-info
  .panel-heading
    %h3.panel-title
      概要 Summary
  .panel-body
    %table.table.table-bordered.table-striped
      %tr
        %td
          = t('activerecord.attributes.avalanche_infomation.avalanche')
        %td
          = @avalanche_infomation.avalanche
      %tr
        %td
          = t('activerecord.attributes.avalanche_infomation.snowpack')
        %td
          = @avalanche_infomation.snowpack
      %tr
        %td
          = t('activerecord.attributes.avalanche_infomation.weather')
        %td
          = @avalanche_infomation.weather

.panel.panel-info
  .panel-heading
    %h3.panel-title
      行動への助言 Travel Advisory
  .panel-body
    %table.table.table-bordered.table-striped
      %tr
        %td
          = @avalanche_infomation.travel_advisory
- if policy(@avalanche_infomation).update?
  = link_to 'Edit', edit_members_avalanche_infomation_path(@avalanche_infomation)
  \|
  = link_to 'Back', members_avalanche_infomations_path
