= simple_form_for(@user) do |f|
  = f.error_notification
  .form-inputs
    = f.input :public
    = f.input :name
    = f.input :email
    = f.input :role, collection: User.roles.keys.map {|role| [role.titleize,role]}
  .form-actions
    = f.button :submit
