%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.avalanche_infomation.announced_at')
      %th= t('activerecord.attributes.avalanche_infomation.area.name')
      %th= t('activerecord.attributes.avalanche_infomation.user')
  %tbody
    - @avalanche_infomations.each do |avalanche_infomation|
      %tr
        %td= link_to avalanche_infomation.announced_at.strftime("%y%m%d %H:%M"), avalanche_infomation
        %td= avalanche_infomation.area.name
        %td= avalanche_infomation.user.name
