%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.avalanche_infomation.announced_at')
      %th= '観測エリア Range'
  %tbody
    - @avalanche_infomations.each do |avalanche_infomation|
      %tr
        - announced_date = avalanche_infomation.announced_at.strftime("%Y年%m月%d日%H時")
        %td= link_to "#{announced_date} 発表", avalanche_infomation
        %td= avalanche_infomation.avalanche_area.name
