%h1 Listing avalanche_infomations

%table
  %thead
    %tr
      %th Announced at
      %th Alpine zone
      %th
      %th
      %th

  %tbody
    - @avalanche_infomations.each do |avalanche_infomation|
      %tr
        %td= avalanche_infomation.announced_at
        %td= avalanche_infomation.alpine_zone
        %td= link_to 'Show', avalanche_infomation
        %td= link_to 'Edit', edit_avalanche_infomation_path(avalanche_infomation)
        %td= link_to 'Destroy', avalanche_infomation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Avalanche infomation', new_avalanche_infomation_path
