.nested-fields
  .panel.panel-info
    .panel-heading
      %h3.panel-title
        留意すべき雪崩 Avalanche Problem
    .panel-body
      .form-inputs
        = f.input :avalanche_type
        = f.simple_fields_for :zone_details do |zd|
          = render 'zone_detail_fields', f: zd
        = f.input :size
        = f.input :triggering
        = f.input :comments, as: :text
      = link_to_remove_association "この雪崩の削除", f, class: 'btn btn-danger'