= simple_form_for([:members, @user]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :public
    = f.input :name
    = f.input :email
    = f.input :role, collection: User.roles.keys
  .form-actions
    = f.button :submit
