%h1 エリア一覧

%table.table
  %thead
    %tr
      %th= t('activerecord.attributes.area.public')
      %th= t('activerecord.attributes.area.name')
      %th
      %th

  %tbody
    - @areas.each do |area|
      - klass = area.public? ? 'default' : 'warning'
      %tr{class: "#{klass}"}
        %td= area.public
        %td= area.name
        %td= link_to 'Edit', edit_members_area_path(area)
        %td= link_to 'Destroy', [:members, area], method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Area', new_members_area_path
