!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : '雪崩情報'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Snowbbs'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    -#= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body.body-jan__entry-box
    -#%header
    -#  = render 'layouts/navigation'
    .panel.panel-default.hidden-xs.hidden-sm
      .panel-body.for-iframe-0-padding
        %h4.for-iframe-title-avalanche-info
          = link_to avalanche_infomations_path, targt: '_top' do
            .for-iframe-title
              %small.font-white avalanche info
              %br
              雪崩情報
    %main.for-iframe{:role => "main"}
      = render 'layouts/messages'
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
